.hero-image {
    display: block;
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto;
}

.main-story {
    max-width: 70%;
    margin: 20px auto;
    line-height: 1.5rem;
}

.mat-raised-button{
    margin: 20px 0;
}

.mat-raised-button[disabled] {
    background-color: rgba(76, 9, 36, 0.3);
    color: white;
}

.no-spacer {
    margin: 0px auto;
    padding: 0;
}